<header>
  <div class="logo"></div>
  <ul class="menu_wrapper">
    <li>
      <a routerLink="/">
        <div class="menu-item">
          <mat-icon>home</mat-icon>
          Home
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <div class="menu-item">
          <mat-icon>person</mat-icon>
          About
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/contacts">
        <div class="menu-item">
          <mat-icon>phone</mat-icon>
          Contacts
        </div>
      </a>
    </li>
  </ul>
</header>
