.desktop {
  width: 400px;
  height: 300px;
  background-color: yellow;
  color: red;
}

.tablet {
  width: 250px;
  height: 120px;
  background-color: green;
  color: white;
}

.mobile {
  width: 300px;
  height: 150px;
  background-color: blue;
  color: white;
}